apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: apicurio-registry-qnbk
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: apicurio-registry-qnbk
    app.kubernetes.io/part-of: apicurio-registry
  name: apicurio-registry-qnbk
  namespace: carnalca-srs-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: apicurio-registry-qnbk
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: apicurio-registry-qnbk
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:470ad10b267637f4f8b842d367cbf006afa890afb57b1cf0cc2f16f290263543
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
