apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: apicurio-registry-qnbk
  namespace: carnalca-srs-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:afa619b376f8f5780f444785268d40f12345f6bdf01d471023969b08595b17ee
        name: container-image
        resources: {}
status: {}
