apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: apicurio-registry-qnbk
  namespace: carnalca-srs-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:470ad10b267637f4f8b842d367cbf006afa890afb57b1cf0cc2f16f290263543
        name: container-image
        resources: {}
status: {}
